<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        a{
        text-decoration:none;
        }

    </style>
</head>
<body>
    <h2> Blog Details</h2><br><br>

    <table border="1" class="table">
        <tr>
            <th>Id</th>
            <th>blog Name</th>
            <th>Posted By</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Action</th>
        </tr>


      {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>
                <img src="static/images/{{i[4]}}" height="150px" width="150px">
            </td>
            <td>
                <a href="blog_edit/{{i[0]}}">Edit blog</a><br>
                <a href="blog_delete/{{i[0]}}">Delete blog</a>
            </td>
        </tr>
    {% endfor %}


    </table>

</body>
</html>